body {
  background: linear-gradient(rgba(126, 46, 46, 0) 16.39%, #7e2e2e 19.75%, rgb(119, 50, 53) 47.48%, #2a5886), url('fotos.jpg') repeat-x top;
}

header {
  margin: 0 auto;
  text-align: center;

  img {
    width: 100%;
  }
}

a:hover {
  color: #5cafff;
}

header, .app {
  max-width: 1310px;
}

.app {
  margin: -20px auto 0 auto;
  background: rgba(0,0,0,0.5);
}

@media screen and (max-width: 1310px) {
  body {
    background-size: contain;
  }
}
