body {
  background: #212121 url('./header.jpg') repeat-x top;
}

.app {
  margin-top: 400px;
  background: rgba(50,50,50,0.5);
}

@media screen and (max-width: 1000px) {
  body {
    background-size: contain;
  }

  .app {
    margin-top: 30vw;
  }
}
